<div class='card p-4'>
  <h1>Editing Album</h1>

  <%= render 'form', album: @album %>

  <%= link_to 'Show', @album, class: 'link-secondary' %>
  <%= link_to 'Back', albums_path, class: 'link-secondary' %>
</div>
